# Funções built-in

In [1]:
type(print)

builtin_function_or_method

In [2]:
print("Texto")

Texto

In [3]:
salario_base = 1500
print(salario_base)

1500

In [4]:
comissao = 0.05
print(comissao)

0.05

In [5]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [6]:
print("Salário base:", salario_base, "Comissão:", comissao)

Salário base: 1500 Comissão: 0.05

In [7]:
print("Salário base:", salario_base, "Comissão:", comissao, sep="\t")

Salário base:	1500	Comissão:	0.05

In [8]:
help(abs)

Help on built-in function abs in module builtins:

abs(x, /)
    Return the absolute value of the argument.

In [9]:
abs(-10)

10

In [10]:
pow(2, 3)

8

In [11]:
pow(2.0, 3)

8.0

In [12]:
round(1.123456789, 2)

1.12

In [13]:
round(1.123456789, 5)

1.12346

In [14]:
round(1.123455, 5)

1.12346

In [15]:
round(1.123454, 5)

1.12345

In [16]:
int(1.5)

1

In [17]:
int(1.8)

1

In [18]:
float(1)

1.0

In [19]:
str(1.5)

'1.5'

In [20]:
str(salario_base)

'1500'

In [21]:
nome = input("Digite o seu nome: ")
nome

'Francisco'

In [22]:
altura_em_centimetros = input("Digite a sua altura em centímetros: ")
altura_em_centimetros

'180'

In [23]:
altura_em_centimetros = int(altura_em_centimetros)
altura_em_centimetros

180

In [24]:
altura_em_metros = altura_em_centimetros / 100
altura_em_metros

1.8